{% extends "layout.html" %}

{% block title %} - Contact {% endblock %}

{% block main %}
<h1>Contact</h1>
    <p> Found a bug? Have a suggestion? Or just want to learn how the app works?</p>
    <p>You can contact me through email at pullupspeed at gmail dot com or find me on Reddit as <a href="https://www.reddit.com/u/crossfitpullup">u/crossfitpullup</a>. </p>
    <figure style="padding-top: 20px;">
        <img src="static/crossfitpullup.gif" alt="Crossfit Pull Up">
        <figcaption>A Crossfit pullup</figcaption>
    </figure>

<h4>Liked the project?</h4>
<p>Consider <a href="https://www.buymeacoffee.com/pulluprpe">buying me a coffee!</a></p>
<p>Funds will go towards upgrading website hosting, to handle more traffic and load everything faster. I'm also using the free tier for Google and Imgur's API services so there is a limit on monthly usage.</p>

{% endblock %}
